/* Sky color #CAE4DB - Mist color #7A9D96 */

/* 161A30 31304D B6BBC4 F0ECE5 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
}

.main_backer_div {
    background: url("./images/logo\ \(red\).png");
    background-repeat: repeat;
    background-size: 100%, 100%;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main_card{
    width: 450px;
    height: 350px;
    background-color: #031219;
    border-radius: 15px;
    border: 2px solid #ee0824;
    display: flex;
    justify-content: center;
}

.main_card:hover {
    border: 2px solid cyan;
}

.inputs_div {
    position: relative;
    background-color: none;
    width: 400px;
    height: 135px;
    display: inline-block;
    top: 60px;
}

.username_input {
    width: 330px;
    height: 40px;
    background: url("./images/icons/email.png");
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position: 98% 50%;
    background-color: whitesmoke;
    border-radius: 20px;
    padding-right: 40px;
    padding-left: 15px;
    margin-top: 10px;
    font-size: medium;
}

.password_input {
    width: 330px;
    height: 40px;
    background: url("./images/icons/padlock.png");
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position: 98% 50%;
    background-color: whitesmoke;
    border-radius: 20px;
    padding-right: 40px;
    padding-left: 15px;
    margin-top: 10px;
    font-size: medium;
}

.auth_button {
    width: 250px;
    height: 30px;
    border-radius: 20px;
    margin-top: 10px;
    background-color: #031219;
    border: none;
    color: #B6BBC4;
    font-size: medium;
    cursor: pointer;
}

.auth_button:hover {
    background-color: #31304D;
}

.main_text_auth {
    font-size: x-large;
    color: #B6BBC4;
}

.wrong_alert_box {
    position: absolute;
    display: none;
    align-items: center;
    justify-content: center;
    top: -25%;
    left: 50%;
    transform: translate(-50%);
}

.wrong_alert_icon {
    width: 30px;
    height: 30px;

}

.wrong_alert {
    color: #ee0824;
    font-size: medium;
}

.test_shower_box {
    width: 370px;
    height: 40px;
    text-align: center;
    text-justify: center;
    border-radius: 15px 15px 0 0;
    background-color: #031219;
    position: absolute;
    display: none;
    top: 183%;
    left: 50%;
    transform: translate(-50%);
    border: 2px solid cyan;
}

.watcher_text1,
.watcher_text2 {
    font-size: medium;
    color: whitesmoke;
}

@media  (max-width: 700px) {
    .main_card {
        width: 350px;
    }
    .wrong_alert_icon {
        width: 15px;
        height: 15px;
    }
    .wrong_alert {
        font-size: small;
    }
    .test_shower_box {
        width: 270px;
        height: 30px;
        top: 190%;
    }
    .watcher_text1,
    .watcher_text2 {
        font-size: x-small;
    }
}