.ended_contracts_section {
    display: none;
    width: 100%;
    height: 100%;
}

.ended_contracts_section_header {
    width: 100%;
    height: 7%;
    background-color: #00303F;
    padding-top: 5px;
    padding-left: 10px;
}

.ended_contracts_section_text {
    font-size: x-large;
    color: #CAE4DB;
    text-align: left;
}