.taken_rooms_section {
    display: none;
    width: 100%;
    height: 100%;
    background-color: #161A30;
}

.taken_rooms_search_container {
    width: 100%;
    height: 8%;
    background-color: #161A30;
    padding-top: 1%;
}

.taken_rooms_search_input{
    width: 300px;
    height: 30px;
    border-radius: 15px;
    padding-left: 10px;
    margin-left: 25%;
    font-size: medium;
}

.taken_rooms_search_input_button {
    width: 100px;
    height: 30px;
    border-radius: 15px;
    background-color: #161A30;
    border: none;
    color: #F0ECE5;
    font-size: medium;
    cursor: pointer;
}

.taken_rooms_search_input_button:hover {
    background-color: #31304D;
}

.taken_rooms_worksheet_backer {
    background-color: #31304D; 
    width: 100%;
    height: 92%;
    border-radius: 15px 0 0 0;
}

.taken_rooms_background_container {
    width: 100%;
    height: 100%;
    background-color: #31304D;
    border-radius: 15px 0 0 0;
    overflow: auto;
    display: block;
}

.taken_rooms_guest_lister {
    width: 98%;
    height: 30px;
    background-color: #B6BBC4;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 15px;
    margin-left: 1%;
    display: flex;
    align-items: center;
}

.taken_rooms_guest_text {
    font-size: large;
    padding-left: 15px;
}

.taken_rooms_status_color {
    width: 40px;
    height: 20px;
    background-color: red;
    margin-left: 15px;
    border-radius: 20px;
}
