.taken_rooms_section {
    display: none;
    width: 100%;
    height: 100%;
}

.taken_rooms_section_header {
    width: 100%;
    height: 7%;
    background-color: #161A30;
    padding-top: 5px;
    padding-left: 10px;
}

.taken_rooms_section_text {
    font-size: x-large;
    color: #F0ECE5;
    text-align: left;
}

.taken_roons_search_container {
    width: 100%;
    height: 8%;
    background-color: #161A30;
}

.taken_rooms_search_input{
    width: 300px;
    height: 30px;
    border-radius: 15px;
    padding-left: 15px;
    margin-left: 25%;
    font-size: medium;
}

.taken_rooms_search_input_button {
    width: 100px;
    height: 30px;
    border-radius: 15px;
    background-color: #161A30;
    border: none;
    color: #F0ECE5;
    font-size: medium;
    cursor: pointer;
}

.taken_rooms_search_input_button:hover {
    background-color: #31304D;
}

.taken_rooms_worksheet_backer {
    background-color: red; 
    width: 100%;
    height: 85%;
}