/* Sky color #CAE4DB - Mist color #7A9D96 */

/* 161A30 31304D B6BBC4 F0ECE5 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    width: 100%;
}

.left_sidebar{
    width: 20%;
    height: 100%;
    background-color: #161A30;
}

.hotel_name{
    text-align: center;
    color: #DCAE1D;
    font-size: 30px;
    margin-top: 20px;
    cursor: pointer;
}

.hotel_name:hover {
    text-shadow: 0 0 10px #edd072;
}


.buttons_container {
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.buttons_center {
    width: 90%;
}

.main_page,  
.free_rooms,
.taken_rooms,
.guest_list,
.ended_contracts {
    display: block;
    background-color: #161A30;
    width: 100%;
    height: 30px;
    margin-top: 20px;
    border-radius: 10px;
    outline: none;
    border: none;
    font-size: medium;
    color: #F0ECE5;
    cursor: pointer;
}

.main_page:hover,
.free_rooms:hover,
.taken_rooms:hover,
.guest_list:hover,
.ended_contracts:hover {
    background-color: #31304D;
}

.exit_button{
    background-color: #161A30;
    width: 80%;
    height: 30px;
    margin-top: 20px;
    border-radius: 10px;
    outline: none;
    border: none;
    font-size: medium;
    color: #F0ECE5;
    cursor: pointer;
}

.exit_button:hover {
    font-size: large;
    background-color: #31304D;
}

.address_text {
    font-size: medium;
    text-align: center;
    color: #CAE4DB;
    margin-top: 70px; 
}
.address_info {
    font-size: medium;
    text-align: center;
    color: #CAE4DB;
    margin-top: 10px;
}